
.row-3{
  height: 187px;
  margin-top: 6px;
  width: 100%;
  @include respond-to($md, $sm, $es){
    height: auto;
  }
}

.row-3 .container {
  @extend .container;
  align-items: center;
  background: $secondaryColor;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  height: 187px;
  justify-content: space-around;
  @include respond-to($md, $sm, $es){
    flex-direction: column;
    height: auto;
  }
}

.row-3 .review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 540px;
  @include respond-to($lg, $md, $sm, $es) {
    justify-content: space-around;
  }
  @include respond-to($md, $sm, $es){
    padding: 20px 0px 0px 20px;
  }
  @include respond-to($es){
    align-items: center;
    flex-direction: column;
    width: auto;
  }
}

.row-3 .review-photo{
  width: 70px;
  @include respond-to($es) {
    margin-bottom: 20px;
  }
}

.row-3 .review-photo-substrate {
  align-items: center;
  background: #000;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: center;
  width: 70px;
  margin-top: 4px;
}

.row-3 .review-photo-icon {
  color: #fff;
}

.row-3 .review-info {
  display: flex;
  flex-direction: column;
  height: 96px;
  justify-content: space-between;
  width: 442px;
  @include respond-to($lg, $md, $sm, $es) {
    width: 80%;
  }
  @include respond-to($es) {
    height: auto;
  }
}

.row-3 .review-info .review-info-title {
  color: #ffffff;
  font-family: $primaryFont;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.row-3 .review-info .review-info-description {
  height: 56px;
  color: #ffffff;
  font-family: $secondaryFont;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 24px;
}

.row-3 .review-info .review-info-description span {
  font-family: Lato-Italic;
  font-size: 12px;
}

.row-3 .review-form {
  display: flex;
  flex-direction: column;
  height: 97px;
  justify-content: space-between;
  width: 510px;
  @include respond-to($md, $sm, $es){
    padding: 20px 0px;
  }
  @include respond-to($es) {
    width: 95%;
  }
}

.row-3 .review-form .review-form-title {
  color: #ffffff;
  font-family: $primaryFont;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include respond-to($md, $sm, $es){
    text-align: center;
  }
}

.row-3 .review-form .review-form-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 510px;
  margin-bottom: 3px;
  @include respond-to($lg, $md, $sm, $es){
    width: 95%;
  }
}

.row-3 .review-form .review-form-input {
  background: #ffffff;
  border: none;
  border-radius: 25px;
  color: #999999;
  font-family: Lato-Italic;
  font-size: 14px;
  height: 39px;
  padding-left: 21px;
  padding-bottom: 3px;
  width: 360px;
  @include respond-to($lg, $md, $sm, $es){
    margin-right: 10px;
  }
  @include respond-to($es) {
    padding-left: 16px;
  }
}

.row-3 .review-form .review-form-submit {
  background: #000000;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-family: $primaryFont;
  font-size: 15px;
  height: 39px;
  text-transform: uppercase;
  width: 120px;
  padding-top: 6px;
}

.row-3 .input-submit-arrow{
  @include respond-to($es) {
    display: none;
  }
}