<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Role" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>React WEB API Application</title>
    @Styles.Render("~/Content/css")
</head>
<meta http-equiv="Content-Role" content="text/html; charset=utf-8" />
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/js")
</body>
</html>