@font-face {
    font-family: Fjalla;
    src: url(../fonts/FjallaOne-Regular.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Italic;
    src: url(../fonts/Lato-Italic.ttf);
}

@font-face {
    font-family: Oswald-Regular;
    src: url(../fonts/Oswald-Regular.ttf)
}

* {
    margin: 0px;
    padding: 0px;
}

.reset {
    margin: 0px!important;
    padding: 0px!important;
}

header {
    width: 100%;
    height: 80px;
    background: #202628;
}

header .container {
    margin: 0 auto;
    width: 1170px;
    height:100%;
}

header .site-name {
    float: left;
    color: #e7e7e7;
    font-size: 25px;
    font-family: Fjalla;
    padding: 27px 0px;
}

header .navigation {
    float: right;
    width: auto;
    height: 100%;
}

header .navigation-item {
    display: inline;
}

header .navigation-item :hover {
    background: #e84c3d;
    transition: background 0.5s;
}

header .navigation-item-link {
    display: inline-block;
    padding: 32px 20px;
    font-family: Fjalla;
    color: #e7e7e7;
    font-size: 13px;
    text-decoration: none;
}

.banner {
    background: url("../img/banner-bg.png") center center no-repeat;
    height: 560px;
}

.banner .container {
    margin: 0 auto;
    width: 1170px;
    height: 560px;
}

.banner .cir {
    height: 70px;
    width: 70px;
}

.banner .cir-left {
    float: left;
    background: url("../img/banner-cir-left.png") no-repeat;
    height: 70px;
    width: 34px;
}

.banner .cir-right {
    float: right;
    background: url("../img/banner-cir-right.png") no-repeat;
    height: 70px;
    width: 34px;
}

.banner .info {
    padding: 290px 0px 0px 0px;
    height: 270px;
    width: 470px;
}

.banner .title {
    width: 455px;
    height: 32px;
    margin: 25px 0px 14px;
}

.banner .title-text {
    float: left;
    width: auto;
    height: auto;
    text-transform: uppercase;
    font-size: 31px;
    font-family: Fjalla;
    color: #e7e7e7;
    letter-spacing: 2.4px;
}

.banner .title-line-box {
    float: right;
    width: 254px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner .title-line {
    background-color: #e7e7e7;
    border-top: 1px solid #e7e7e7;
    width: 100%;
}

.banner .description {
    text-transform: uppercase;
    font-size: 31px;
    font-family: Fjalla;
    color: #e7e7e7;
    display: inline-block;
    letter-spacing: 2.4px;
    margin-bottom: 12px;
}

.banner .web-site {
    font-size: 15px;
    color: #e84c3d;
    font-family: Fjalla;
    letter-spacing: 1.2px;
}

.main {
    height: auto;
    width: 100%;
}

.main .row-1 {
    height: 277px;
    width: 100%;
    background: #e7e7e7;
}

.row-1 .container {
    margin: 0 auto;
    width: 1170px;
}

.row-1 .column {
    display: inline-block;
    width: auto;
    height: 121px;
    padding: 77px 0px 76px 0px;
}

.row-1 .icon-substrate {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #e84c3d;
    display: table;
    float: left;
    margin: 4px 30px 0px 0px;
}

.row-1 .icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.row-1 .column-info {
    float: right;
    width: auto;
    margin-right: 30px;
}

.row-1 .column-info-name {
    font-family: Fjalla;
    font-size: 21px;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: auto;
}

.row-1 .column-info-description {
    font-family: Lato-Regular;
    line-height: 24px;
    font-size: 14px;
    color: #666666;
    margin: 19px 0px;
    width: 266px;
}

.row-1 .column-info-link {
    text-decoration: none;
}

.row-1 .column-info-link:after {
    color: #e84c3d;
    content: "=> more";
}

.main .row-2 {
    margin: 76px 0px 84px;
    height: 354px;
    width: 100%;
}

.row-2 .container {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.row-2 .info {
    width: 800px;
    height: 354px;
    float: left;
}

.row-2 .photo {
    background: url("../img/row-2-img.png") center center no-repeat;
    width: 354px;
    height: 355px;
    margin-top: 5px;
    float: right;
}

.row-2 .info-title {
    width: 635px;
    color: #000;
    font-size: 21px;
    font-family: Fjalla;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.row-2 .info-line {
    width: 768px;
    background-color: #e7e7e7;
    border-top: 1px solid #e7e7e7;
}

.row-2 .info-subtitle {
    margin: 7px 0px;
    color: #e84c3d;
    font-family: Lato-Regular;
    font-size: 20px;
}

.row-2 .info-columns {
    padding-top: 24px;
}

.row-2 .info-column{
    display: inline-block;
    float: left;
    width: 366px;
    margin-right: 34px;
}

.row-2 .info-column .info-column-title {
    font-family: Lato-Bold;
    font-size: 16px;
    color: #000;
}

.row-2 .info-column .info-column-description {
    margin: 8px 0px 33px;
    font-family: Lato-Regular;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.row-2 .info-column .info-column-button {
    background-color: #e84c3d;
    border: none;
    border-radius: 25px;
    height: 35px;
    width: 70px;
    color: #fff;
    text-transform: uppercase;
    font-family: Oswald-Regular;
    font-size: 14px;
}

.row-3{
    height: 188px;
    width: 100%;
}

.row-3 .container {
    margin: 0 auto;
    width: 1170px;
    background: #e84c3d;
    border-radius: 10px;
    height: 188px;
}

.row-3 .review {
    width: 540px;
    height: auto;
    float: left;
    margin: 45px 30px 0px 30px;
}

.row-3 .review-form {
    width: 510px;
    height: auto;
    float: right;
    margin: 45px 30px 0px 30px;
}

.row-3 .review-photo{
    width: 70px;
    float: left;
    margin-top: 5px;
}

.row-3 .review-photo .review-photo-substrate {
    display: table;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #000;
}

.row-3 .review-photo .review-photo-icon {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.row-3 .review-info {
    width: 442px;
    float: right;
    margin-left: 28px;
    letter-spacing: 1px;
}

.row-3 .review-info .review-info-title {
    font-size: 21px;
    font-family: Fjalla;
    color: #ffffff;
    text-transform: uppercase;
}

.row-3 .review-info .review-info-description {
    margin-top: 16px;
    font-family: Lato-Regular;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #ffffff;
}

.row-3 .review-info .review-info-description span {
    font-family: Lato-Italic;
    font-size: 12px;
}

.row-3 .review-form .review-form-title {
    font-family: Fjalla;
    font-size: 21px;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
}

.row-3 .review-form .review-form-block {
    width: 510px;
}

.row-3 .review-form .review-form-input {
    width: 360px;
    height: 42px;
    border: none;
    border-radius: 25px;
    background: #ffffff;
    padding-left: 19px;
    margin-right: 8px;
    font-family: Lato-Italic;
    font-size: 14px;
    color: #999999;
    float: left;
}

.row-3 .review-form .review-form-submit {
    width: 120px;
    height: 44px;
    background: #000000;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-family: Fjalla;
    border: none;
    border-radius: 25px;
    float: right;
}

.row-4 .container {
    margin: 65px auto 60px auto;
    width: 1170px;
    height: 440px;
}

.row-4 .column {
    width: 358px;
    height: 440px;
    padding: 0px 43px 0px 0px;
    float: left;
}

.row-4 .column .article-title {
    font-size: 21px;
    font-family: Fjalla;
    padding-bottom: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.row-4 .column .article-block {
    width: 370px;
    height: 100px;
    padding-bottom: 30px;
}

.row-4 .column .article-block-line {
    margin-bottom: 30px;
    background-color: #e7e7e7;
    border-top: 1px solid #e7e7e7;
}

.row-4 .column .article-block-photo {
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 30px;
}

.row-4 .column .article-block-description {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #767c7e;
    padding-top: 3px;
    line-height: 24px;
    float: right;
    width: 270px;
}

.article-block-description-link{
    text-decoration: none;
}

.article-block-description-link:after {
    content: "more  =>";
    font-size: 14px;
    color: #e84c3d;
    font-family: Lato-Regular;
    text-decoration: none;
}

.row-4 .feedback-form {
    height: 393px;
    width: 370px;
    background: #e7e7e7;
    border-radius: 10px;
}

.row-4 .feedback-form-block {
    padding: 23px 35px 29px 29px;
}

.row-4 .feedback-form-description {
    padding-bottom: 24px;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #767c7e;
    line-height: 24px;
}

.row-4 .feedback-form-block .input-contact {
    border: none;
    width: 293px;
    height: 41px;
    border-radius: 25px;
    font-family: Lato-Italic;
    font-size: 14px;
    padding-left: 18px;
    color: #9faaad;
    margin-bottom: 20px;
}

.row-4 .feedback-form-block .input-query {
    border: none;
    width: 292px;
    height: 78px;
    border-radius: 10px;
    font-family: Lato-Italic;
    font-size: 14px;
    padding: 6px 0px 0px 18px;
    color: #9faaad;
    line-height: 30px;
    resize: none;
}

.row-4 .feedback-form-block .input-submit {
    width: 101px;
    height: 42px;
    border: none;
    border-radius: 25px;
    background: #e84c3d;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Fjalla;
    color: #ffffff;
    margin-top: 14px;
}

.row-4 .input-submit-arrow {
    padding-left: 14px;
}

.row-4 .contact-block {
    height: 122px;
    width: 370px;
}

.row-4 .contact-block-icon-box {
    width: 50px;
    float: left;
}

contact-block-icon{
    width:10px;
}

.row-4 .contact-block-line{
    background-color: #e7e7e7;
    border-top: 1px solid #e7e7e7;
    margin-bottom: 22px;
}

.row-4 .contact-block-main {
    margin-left: 47px;
    width: 250px;
}

.row-4 .contact-block-main-title {
    font-size: 16px;
    line-height: 24px;
    font-family: Lato-Bold;
    color: #e84c3d;
}

.row-4 .contact-block-main-description {
    font-size: 14px;
    font-family: Lato-Regular;
    line-height: 24px;
    color: #767c7e;
}

.row-4 .contact-line {
    width:364px;
    float: right;
    background-color: #e7e7e7;
    border-top: 1px solid #e7e7e7
}

footer {
    background: #202628;
    height: 205px;
}

footer .container {
    width: 1170px;
    margin: 0 auto;
    height: 81px;
    padding: 80px 0px 44px 0px;
}

footer .footer-navigation-box{
    width: 856px;
    float: left;
}

footer .footer-navigation {
    display: inline;
}

footer .footer-navigation-item {
    display: inline-block;
    padding-right: 16.5px;
}

footer .footer-navigation-item a {
    text-decoration: none;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #e7e7e7;
}

footer .footer-navigation-item-marker:before {
    content: "/";
    padding-right: 15.5px;
    color: #767c7e;
}

footer .footer-right {
    display: block;
    margin-top: 7px;
}

footer .footer-right-item {
    display: inline-block;
}

footer .footer-right-item a {
    text-decoration: none;
}

footer .footer-right-item-design,
footer .footer-right-item-design a{
    font-family: Lato-Regular;
    font-size: 13px;
    line-height: 24px;
    color: #e84c3d;
}

footer .footer-right-item-images,
footer .footer-right-item-images a,
footer .footer-right-item-website{
    font-family: Lato-Regular;
    font-size: 13px;
    line-height: 24px;
    color: #767c7e;
}

footer .footer-right-item-images:after,
footer .footer-right-item-design:after {
    content: "/";
    margin-left: 7.5px;
    margin-right: 6.5px;
}

.footer-navigation-social{
    float: right;
    margin-left: 8px;
    margin-top: 2px;
}

.footer-navigation-social-items {
    display: block;
}

.footer-navigation-social-item {
    display: inline-block;
}

.footer-navigation-social-substrate{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #e84c3d;
    margin-left: 9px;
    display: table;
}

.footer-navigation-social-icon{
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 19px;
}