@font-face {
    font-family: Fjalla;
    src: url(../fonts/FjallaOne-Regular.otf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Italic;
    src: url(../fonts/Lato-Italic.ttf);
}

@font-face {
    font-family: Oswald-Regular;
    src: url(../fonts/Oswald-Regular.ttf)
}

* {
    margin: 0;
}

header {
    width: 100%;
    height: 80px;
    background: #202628;
}

header .container {
    margin: 0 auto;
    width: 1170px;
}

header .site-name {
    float: left;
    color: #e7e7e7;
    font-size: 25px;
    font-family: Fjalla;
    padding: 28px 0px 28px 0px;
}

header .navigation {
    float: right;
    width: 421px;
}

header .navigation-item {
    display: inline;
}

header .navigation-item-link {
    display: inline-block;
    padding: 32px 20px 32px 20px;
    font-family: Fjalla;
    color: #e7e7e7;
    font-size: 13px;
    text-decoration: none;
}

header .navigation-item :hover {
    background: #e84c3d;
    transition: background 0.5s;
}

.banner {
    background-image: url("../img/banner-bg.png");
    height: 560px;
}

.banner .container {
    margin: 0 auto;
    width: 1170px;
    height: 560px;
}

.banner .cir {
    height: 70px;
    width: 70px;
}

.banner .cir-left {
    float: left;
    background: url("../img/banner-cir-left.png") no-repeat;
    height: 70px;
    width: 34px;
}

.banner .cir-right {
    float: right;
    background: url("../img/banner-cir-right.png") no-repeat;
    height: 70px;
    width: 34px;
}

.banner .info {
    padding: 290px 0px 0px 0px;
    height: 270px;
    width: 470px;
}

.banner .title {
    width: 470px;
    height: 75px;
}

.banner .title-main {
    float: left;
    width: 200px;
    padding: 25px 0px 18px 0px;
    text-transform: uppercase;
    font-size: 31px;
    font-family: Fjalla;
    color: #e7e7e7;
    letter-spacing: inherit;
    letter-spacing: 2.8px;
}

.banner .title-line {
    float: right;
    size: 1px;
    width: 268px;
    color: #e7e7e7;
    margin: 40px 0px 30px 0px;
}

.banner .description {
    text-transform: uppercase;
    font-size: 31px;
    font-family: Fjalla;
    color: #e7e7e7;
    display: inline-block;
    letter-spacing: 2.8px;
}

.banner .web-site {
    font-size: 15px;
    color: #e84c3d;
    font-family: Fjalla;
    padding: 23px 0px 0px 0px;
    letter-spacing: 2.8px;
}

.main {
    height: 1590px;
    width: 100%;
}

.main .row-1 {
    height: 277px;
    width: 100%;
    background: #e7e7e7;
}

.main .container {
    margin: 0 auto;
    width: 1170px;
}

.main .column {
    display: inline-block;
    width: 33%;
    height: 121px;
    padding: 80px 0px 76px 0px;
}

.main .icon-substrate {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #e84c3d;
    display: table;
    float: left;
}

.main .icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.main .column-info {
    margin: 0px 24px 0px 24px;
    float: right;
    width: 268px;
}

.main .column-info-name {
    font-family: Fjalla;
    font-size: 21px;
    color: #000;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

.main .column-info-description {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #666666;
    padding: 24px 0px 0px 0px;
}

.main .column-info-link {
    text-decoration: none;
}

.main .column-info-link:after {
    color: #e84c3d;
    content: "=> more";
}

.main .row-2 {
    padding: 80px 0px 80px 0px;
    height: 354px;
    width: 100%;
}

.row-2 .info {
    width: 800px;
    height: 354px;
    float: left;
}

.row-2 .photo {
    width: 354px;
    height: 354px;
    padding-left: 16px;
    float: right;
}

.row-2 .info-title {
    color: #000;
    font-size: 21px;
    font-family: Fjalla;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-bottom: 28px;
}

.row-2 .info-line {
    background-color: #e7e7e7;
    border-top: 1px solid #e7e7e7;
}

.row-2 .info-subtitle {
    padding: 12px 0px 12px 0px;
    color: #e84c3d;
    font-family: Lato-Regular;
    font-size: 20px;
}

.row-2 .info-columns {
    padding-top: 29px;
}

.row-2 .info-column{
    display: inline-block;
    float: left;
    width: 46%;
    padding-right: 30px;
}

.row-2 .info-column .info-column-title {
    font-family: Lato-Bold;
    font-size: 16px;
    color: #000;
}

.row-2 .info-column .info-column-description {
    padding-top: 26px;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #666666;
}

.row-2 .info-column .info-column-button {
    background-color: #e84c3d;
    border: none;
    border-radius: 25px;
    height: 35px;
    width: 70px;
    color: #fff;
    text-transform: uppercase;
    font-family: Oswald-Regular;
    font-size: 14px;
    margin-top: 27px;
}

.row-3{
    height: 188px;
    width: 100%;
}

.row-3 .container {
    margin: 0 auto;
    width: 1170px;
    background: #e84c3d;
    border-radius: 25px;
    height: 188px;
}

.row-3 .review {
    width: 540px;
    height: 100%;
    float: left;
    padding: 48px 30px 48px 30px;
}

.row-3 .review-form {
    width: 510px;
    height: 100%;
    float: right;
    padding: 48px 30px 48px 30px;
}

.row-3 .review-photo{
    width: 70px;
    float: left;
}

.row-3 .review-photo .review-photo-substrate {
    display: table;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #000;
}

.row-3 .review-photo .review-photo-icon {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.row-3 .review-info {
    width: 442px;
    float: right;
    margin-left: 28px;
}

.row-3 .review-info .review-info-title {
    font-size: 21px;
    font-family: Fjalla;
    color: #ffffff;
    text-transform: uppercase;
}

.row-3 .review-info .review-info-description {
    padding-top: 22px;
    font-family: Lato-Regular;
    font-size: 16px;
    color: #ffffff;
}

.row-3 .review-info .review-info-description span {
    font-family: Lato-Italic;
    font-size: 14px;
}

.row-3 .review-form .review-form-title {
    font-family: Fjalla;
    font-size: 21px;
    padding-bottom: 22px;
    text-transform: uppercase;
    color: #ffffff;
}

.row-3 .review-form .review-form-block {
    width: 510px;
}

.row-3 .review-form .review-form-input {
    width: 360px;
    height: 42px;
    border: none;
    border-radius: 25px;
    background: #ffffff;
    padding-left: 21px;
    margin-right: 8px;
    font-family: Lato-Italic;
    font-size: 14px;
    color: #999999;
    float: left;
}

.row-3 .review-form .review-form-submit {
    width: 120px;
    height: 44px;
    background: #000000;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-family: Fjalla;
    border: none;
    border-radius: 25px;
    float: right;
}

.row-4 .container {
    margin: 0 auto;
    width: 1170px;
    height: 440px;
    padding-bottom: 60px;
}

.row-4 .column {
    width: 30.5%;
    height: 440px;
    padding: 0px 30px 0px 0px;
    float: left;
}

.row-4 .column .article-title {
    font-size: 21px;
    font-family: Fjalla;
    padding-bottom: 26px;
}

.row-4 .column .article-block {
    width: 370px;
    height: 102px;
    padding-bottom: 30px;
}

.row-4 .column .article-block-line {
    margin-bottom: 30px;
    background-color: #e7e7e7;
    border-top: 1px solid #e7e7e7;
}

.row-4 .column .article-block-photo {
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 30px;
}

.row-4 .column .article-block-description {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #767c7e;
    padding-top: 11px;
    line-height: 23px;
}

.row-4 .feedback-form {
    height: 393px;
    width: 370px;
    background: #e7e7e7;
    border-radius: 10px;
}

.row-4 .feedback-form-block {
    padding: 32px 35px 29px 22px;
}

.row-4 .feedback-form-description {
    padding-bottom: 16px;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #767c7e;
    line-height: 26px;
}

.row-4 .feedback-form-block .input-contact {
    border: none;
    width: 313px;
    height: 41px;
    border-radius: 25px;
    font-family: Lato-Italic;
    font-size: 14px;
    padding-left: 18px;
    color: #9faaad;
    margin-bottom: 21px;
}

.row-4 .feedback-form-block .input-query {
    border: none;
    width: 313px;
    height: 81px;
    border-radius: 10px;
    font-family: Lato-Italic;
    font-size: 14px;
    padding-left: 18px;
    color: #9faaad;
    line-height: 30px;
    resize: none;
}

.row-4 .feedback-form-block .input-submit {
    width: 101px;
    height: 42px;
    border: none;
    border-radius: 25px;
    background: #e84c3d;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Fjalla;
    color: #ffffff;
    margin-top: 19px;
}

.row-4 .input-submit-arrow {
    padding-left: 14px;
}

.row-4 .contact-block {
    height: 122px;
    width: 300px;
    margin-bottom: 26px;
}

.row-4 .contact-block-icon {
    width: 50px;
    float: left;
}

.row-4 .contact-block-main {
    float: right;
    width: 250px;
}

.row-4 .contact-block-main-title {
    font-size: 16px;
    line-height: 24px;
    font-family: Lato-Bold;
    color: #e84c3d;
}

.row-4 .contact-block-main-description {
    font-size: 14px;
    font-family: Lato-Regular;
    line-height: 24px;
    color: #767c7e;
}

footer {
    background: #202628;
    height: 205px;
}

footer .container {
    width: 1170px;
    margin: 0 auto;
    height: 81px;
    padding: 80px 0px 44px 0px;
}

footer .footer-navigation-box{
    width: 856px;
    float: left;
}

footer .footer-navigation {
    display: inline;
}

footer .footer-navigation-item {
    display: inline-block;
    padding-right: 19.5px;
}

footer .footer-navigation-item a {
    text-decoration: none;
    font-family: Lato-Regular;
    font-size: 14px;
    color: #e7e7e7;
}

footer .footer-navigation-item-marker:before {
    content: "/";
    padding-right: 19.5px;
    color: #767c7e;
}

footer .footer-right {
    display: block;
    margin-top: 15px;
}

footer .footer-right-item {
    display: inline-block;
}

footer .footer-right-item a {
    text-decoration: none;
}

footer .footer-right-item-design,
footer .footer-right-item-design a{
    font-family: Lato-Regular;
    font-feature-settings: 14px;
    line-height: 24px;
    color: #e84c3d;
}

footer .footer-right-item-images,
footer .footer-right-item-images a,
footer .footer-right-item-website{
    font-family: Lato-Regular;
    font-feature-settings: 14px;
    line-height: 24px;
    color: #767c7e;
}

footer .footer-right-item-images:after,
footer .footer-right-item-design:after {
    content: "/";
    margin-left: 7.5px;
    margin-right: 6.5px;
}

.footer-navigation-social{
    float: right;
}

.footer-navigation-social-items {
    display: block;
}

.footer-navigation-social-item {
    display: inline-block;
}

.footer-navigation-social-substrate{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #e84c3d;
    margin-left: 9px;
    display: table;
}

.footer-navigation-social-icon{
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 19px;
}