footer {
  background: #202628;
  height: 205px;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include respond-to($lg, $md, $sm, $es) {
    margin-top: 20px;
  }

  @include respond-to($md, $sm, $es) {
    height: auto;
  }
}

footer .container {
  @extend .container;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include respond-to($md, $sm, $es) {
    height: auto;
    flex-direction: column;
  }
}

footer .footer-navigation-box{
  width: 856px;
  height: 44px;
  @include respond-to($md, $sm, $es) {
    height: auto;
    width: auto;
  }
}

footer .footer-navigation {
  display: inline;
  @include respond-to($md, $sm, $es) {
    margin-top: 20px;
    display: grid;
  }
}

footer .footer-navigation-item {
  display: inline-block;
  padding-right: 19.5px;
}

footer .footer-navigation-item a {
  text-decoration: none;
  font-family: $secondaryFont;
  font-size: 14px;
  color: #e7e7e7;
}

footer .footer-navigation-item-marker:before {
  @include respond-to($el) {
    content: "/";
    padding-right: 19.5px;
    color: $primaryFontColor;
  }
}

footer .footer-right {
  display: block;
  @include respond-to($lg, $md, $sm, $es) {
    margin-top: 20px;
    display: grid;
  }
}

footer .footer-right-item {
  display: inline-block;
}

footer .footer-right-item a {
  text-decoration: none;
}

footer .footer-right-item-design,
footer .footer-right-item-design a{
  font-family: $secondaryFont;
  font-feature-settings: 14px;
  line-height: 24px;
  color: $secondaryColor;
}

footer .footer-right-item-images,
footer .footer-right-item-images a,
footer .footer-right-item-website{
  font-family: $secondaryFont;
  line-height: 24px;
  color: $primaryFontColor;
}

footer .footer-right-item-images:after,
footer .footer-right-item-design:after {
  @include respond-to($el) {
    content: "/";
    margin-left: 7.5px;
    margin-right: 6.5px;
  }
}

footer .footer-navigation-social{
  height: 44px;
  width: auto;
  @include respond-to($lg, $md, $sm, $es){
    height: auto;
  }
}

.footer-navigation-social-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include respond-to($lg, $md, $sm, $es){
    margin-top: 20px;
    justify-content: flex-start;
  }
}

.footer-navigation-social-item {
  display: inline-block;
}

.footer-navigation-social-substrate{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: $secondaryColor;
  margin-left: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-navigation-social-icon{
  color: #ffffff;
  font-size: 19px;
}