@font-face {
    font-family: Fjalla;
    src: url(fonts/FjallaOne-Regular.otf);
}

* {
    margin: 0;
}

header {
    width: 100%;
    height: 80px;
    background: #202628;
}

header .container {
    margin: 0 auto;
    width: 1170px;
}

header .site-name {
    float: left;
    color: #e7e7e7;
    font-size: 25px;
    font-family: Fjalla;
    padding: 28px 0px 28px 0px;
}

header .navigation {
    float: right;
    width: 421px;
}

header .navigation-item {
    display: inline;
}

header .navigation-item-link {
    display: inline-block;
    padding: 32px 20px 32px 20px;
    font-family: Fjalla;
    color: #e7e7e7;
    font-size: 13px;
    text-decoration: none;
}

header .navigation-item :hover {
    background: #e84c3d;
}

.banner {
    background-image: url("img/banner-bg.png");
    height: 560px;
}

.banner .container{
    margin: 0 auto;
    width: 1170px;
    height: 560px;
}

.banner .cir {
    height: 70px;
    width: 70px;
}

.banner .cir-left {
    float: left;
    background: url("img/banner-cir-left.png") no-repeat;
    height: 70px;
    width: 34px;
}

.banner .cir-right {
    float: right;
    background: url("img/banner-cir-right.png") no-repeat;
    height: 70px;
    width: 34px;
}
.banner .info {
    padding: 290px 0px 0px 0px;
    height: 270px;
    width: 470px;
}

.banner .title {
    width: 470px;
    height: 75px;
}

.banner .title-main {
    float: left;
    width: 200px;
    padding: 25px 0px 18px 0px;
    text-transform: uppercase;
    font-size: 31px;
    font-family: Fjalla;
    color: #e7e7e7;
    letter-spacing: inherit;
    letter-spacing: 2.8px;
}

.banner .title-line {
    float: right;
    size: 1px;
    width: 268px;
    color: #e7e7e7;
    margin: 40px 0px 30px 0px;
}

.banner .description {
    text-transform: uppercase;
    font-size: 31px;
    font-family: Fjalla;
    color: #e7e7e7;
    display: inline-block;
    letter-spacing: 2.8px;
}

.banner .web-site {
    font-size: 15px;
    color: #e84c3d;
    font-family: Fjalla;
    padding: 23px 0px 0px 0px;
    letter-spacing: 2.8px;
}