.navigation {
	width: 100%;
	display: flex;
	justify-content: space-between;

	&__logo {
		width: auto;
	}

	&__admin {
		width: 180px;
		display: flex;
		justify-content: space-between;
	}

	&__buttons {
		width:200px;
		display: flex;
		justify-content: space-between;
	}
}