.main {
	min-height: 100vh;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__header, &__main, &__footer {
		height: auto;
	}

	&__main {
		height: 100%;
	}

	&__footer {
		order: 9;
	}
}