@font-face {
font-family: Fjalla;
    src: url(fonts/FjallaOne-Regular.otf);
}

*{
    margin: 0;
}

header {
    width: 100%;
    height: 80px;
    background: #202628;
}

header .container{
    margin: 0 auto;
    width: 1170px;
}

header .site-name {
    float: left;
    color: #e7e7e7;
    font-size: 25px;
    font-family: Fjalla;
    padding: 28px 0px 28px 0px;

}

header .navigation {
    float: right;
    width: 421px;
}

header .navigation-item {
    display: inline;
    height: 100%;



}

header .navigation-item-link {
    display: inline-block;
    padding: 32px 20px 32px 20px;
    font-family: Fjalla;
    color: #e7e7e7;
    font-size: 13px;
    text-decoration: none;
}

header .navigation-item :hover {
    background: #e84c3d;
    height:100%;
}

ul li {
    display: inline;
}