* {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

$primaryColor: #e7e7e7;
$secondaryColor: #e84c3d;

$primaryFont: Fjalla;
$secondaryFont: Lato-Regular;

$primaryFontColor: #767c7e;