@font-face {
  font-family: Fjalla;
  src: url(../fonts/FjallaOne-Regular.otf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-Italic;
  src: url(../fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: Oswald-Regular;
  src: url(../fonts/Oswald-Regular.ttf)
}