@import "./node_modules/bootstrap/scss/bootstrap";
@import "./sass/main/main.scss";
@import "./sass/main/header/navigation/navigation.scss";
@import "./sass/main/main/ip/ip.scss";
@import "./sass/main/main/login/login.scss";

body {
	background: lightgray;
}
