
.row-3{
  height: 188px;
  width: 100%;
}

.row-3 .container {
  @extend .container;
  background: $secondaryColor;
  border-radius: 25px;
  height: 188px;
}

.row-3 .review {
  width: 540px;
  height: 100%;
  float: left;
  padding: 48px 30px 48px 30px;
}

.row-3 .review-form {
  width: 510px;
  height: 100%;
  float: right;
  padding: 48px 30px 48px 30px;
}

.row-3 .review-photo{
  width: 70px;
  float: left;
}

.row-3 .review-photo .review-photo-substrate {
  display: table;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #000;
}

.row-3 .review-photo .review-photo-icon {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.row-3 .review-info {
  width: 442px;
  float: right;
  margin-left: 28px;
}

.row-3 .review-info .review-info-title {
  font-size: 21px;
  font-family: $primaryFont;
  color: #ffffff;
  text-transform: uppercase;
}

.row-3 .review-info .review-info-description {
  padding-top: 22px;
  font-family: $secondaryFont;
  font-size: 16px;
  color: #ffffff;
}

.row-3 .review-info .review-info-description span {
  font-family: Lato-Italic;
  font-size: 14px;
}

.row-3 .review-form .review-form-title {
  font-family: $primaryFont;
  font-size: 21px;
  padding-bottom: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.row-3 .review-form .review-form-block {
  width: 510px;
}

.row-3 .review-form .review-form-input {
  width: 360px;
  height: 42px;
  border: none;
  border-radius: 25px;
  background: #ffffff;
  padding-left: 21px;
  margin-right: 8px;
  font-family: Lato-Italic;
  font-size: 14px;
  color: #999999;
  float: left;
}

.row-3 .review-form .review-form-submit {
  width: 120px;
  height: 44px;
  background: #000000;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  font-family: $primaryFont;
  border: none;
  border-radius: 25px;
  float: right;
}