.main {
  height: 1590px;
  width: 100%;
}

.main .row-1 {
  height: 277px;
  width: 100%;
  background: $primaryColor;
}

.main .container {
  @extend .container;
}

.main .column {
  display: inline-block;
  width: 33%;
  height: 121px;
  padding: 80px 0px 76px 0px;
}

.main .icon-substrate {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: $secondaryColor;
  display: table;
  float: left;
}

.main .icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.main .column-info {
  margin: 0px 24px 0px 24px;
  float: right;
  width: 268px;
}

.main .column-info-name {
  font-family: $primaryFont;
  font-size: 21px;
  color: #000;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.main .column-info-description {
  font-family: $secondaryFont;
  font-size: 14px;
  color: #666666;
  padding: 24px 0px 0px;
}

.main .column-info-link {
  text-decoration: none;
}

.main .column-info-link:after {
  color: $secondaryColor;
  content: "=> more";
}