.row-4 .container {
  @extend .container;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 568px;
  justify-content: space-between;
}

.row-4 .column {
  height: 440px;
  width: 370px;
}

.row-4 .column .article-title {
  font-family: $primaryFont;
  font-size: 21px;
  padding-bottom: 26px;
}

.article-box {
  display: flex;
  flex-direction: column;
  height: 391px;
  justify-content: space-between;
  width: 370px;
}

.row-4 .column .article-block {
  display: flex;
  flex-direction: column;
  height: 102px;
  justify-content: space-between;
  width: 370px;
}

.article-block-main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-4 .column .article-block-line {
  background-color: $primaryColor;
  border-top: 1px solid $primaryColor;
}

.row-4 .column .article-block-photo {
  height: 70px;
  width: 70px;
}

.row-4 .column .article-block-description {
  color: $primaryFontColor;
  font-family: $secondaryFont;
  font-size: 14px;
  height: 61px;
  line-height: 23px;
  padding-top: 11px;
  width: 270px;
}

.row-4 .feedback-form {
  background: $primaryColor;
  border-radius: 10px;
  height: 393px;
  width: 370px;
}

.row-4 .feedback-form-block {
  padding: 32px 35px 29px 22px;
}

.row-4 .feedback-form-description {
  color: $primaryFontColor;
  font-family: $secondaryFont;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 16px;
}

.row-4 .feedback-form-block .input-contact {
  border: none;
  border-radius: 25px;
  color: #9faaad;
  font-family: Lato-Italic;
  font-size: 14px;
  height: 41px;
  margin-bottom: 21px;
  padding-left: 18px;
  width: 313px;
}

.row-4 .feedback-form-block .input-query {
  border: none;
  border-radius: 10px;
  color: #9faaad;
  font-family: Lato-Italic;
  font-size: 14px;
  height: 81px;
  line-height: 30px;
  padding-left: 18px;
  resize: none;
  width: 313px;
}

.row-4 .feedback-form-block .input-submit {
  background: $secondaryColor;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-family: Fjalla;
  font-size: 15px;
  height: 42px;
  margin-top: 19px;
  text-transform: uppercase;
  width: 101px;
}

.row-4 .input-submit-arrow {
  padding-left: 14px;
}

.row-4 .contact-block {
  height: 122px;
  margin-bottom: 26px;
  width: 300px;
}

.row-4 .contact-block-icon {
  float: left;
  width: 50px;
}

.row-4 .contact-block-main {
  float: right;
  width: 250px;
}

.row-4 .contact-block-main-title {
  color: $secondaryColor;
  font-family: Lato-Bold;
  font-size: 16px;
  line-height: 24px;
}

.row-4 .contact-block-main-description {
  color: $primaryFontColor;
  font-family: $secondaryFont;
  font-size: 14px;
  line-height: 24px;
}