.main {
  height: auto;
  width: 100%;
}

.row-1 {
  background: $primaryColor;
  height: 277px;
  width: 100%;
  @include respond-to($lg, $md, $sm, $es) {
    height: auto;
  }

  &__inner {
    @extend .container;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 276px;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond-to($lg, $md, $sm, $es) {
      height: auto;
    }
    @include respond-to($es) {
      flex-direction: column;
    }
    @include respond-to($md, $sm, $es) {
      height: auto;
    }
    @include respond-to($lg, $md, $sm, $es){
      justify-content: center;
    }
  }

  &__column {
    display: flex;
    flex-direction: row;
    height: 121px;
    justify-content: space-between;
    width: 370px;
    @include respond-to($lg, $md, $sm, $es){
      padding: 20px 0px;
    }
    @include respond-to($es){
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 95%;
    }
  }

  &__icon {
    color: white;
    align-items: center;
    background: $secondaryColor;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: center;
    width: 70px;
    margin-top: 3px;
    @include respond-to($es){
      margin-bottom: 10px;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 269px;
    height: 116px;
    @include respond-to($es){
      width: auto;
    }

    &--title {
      color: #000;
      font-family: $primaryFont;
      font-size: 21px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      @include respond-to($es) {
        text-align: center;
      }
    }

    &--description {
      color: #666666;
      font-family: $secondaryFont;
      font-size: 14px;
      line-height: 24px;
    }

    &--link {
      text-decoration: none;
    }

    &--link:after {
      color: $secondaryColor;
      content: "=> more";
    }
  }
}