
.row-3{
  height: 187px;
  margin-top: 6px;
  width: 100%;
  @include respond-to($md, $sm, $es){
    height: auto;
  }

  &__inner {
    @extend .container;
    align-items: center;
    background: $secondaryColor;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 187px;
    justify-content: space-around;
    @include respond-to($md, $sm, $es){
      flex-direction: column;
      height: auto;
    }
  }

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 540px;
    @include respond-to($lg, $md, $sm, $es) {
      justify-content: space-around;
    }
    @include respond-to($md, $sm, $es){
      padding: 20px 0px 0px 20px;
    }
    @include respond-to($es){
      align-items: center;
      flex-direction: column;
      width: auto;
      height: 100%;
    }
  }

  &__photo {
    width: 70px;
    @include respond-to($es) {
      margin-bottom: 20px;
    }

    &--icon {
      align-items: center;
      background: #000;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      height: 70px;
      justify-content: center;
      width: 70px;
      margin-top: 4px;
      color: white;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    height: 96px;
    justify-content: space-between;
    width: 442px;
    @include respond-to($lg, $md, $sm, $es) {
      width: 80%;
    }
    @include respond-to($es) {
      height: auto;
    }

    &--title {
      color: white;
      font-family: $primaryFont;
      font-size: 21px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &--description {
      height: 56px;
      color: #ffffff;
      font-family: $secondaryFont;
      font-size: 14px;
      letter-spacing: 0.7px;
      line-height: 24px;
      @include respond-to($es){
        height: auto;
      }
    }

    &--author {
      font-family: Lato-Italic;
      font-size: 12px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    height: 97px;
    justify-content: space-between;
    width: 510px;
    @include respond-to($md, $sm, $es){
      padding: 20px 0px;
    }
    @include respond-to($es) {
      width: 95%;
      height: 125px;
    }

    &--title {
      color: #ffffff;
      font-family: $primaryFont;
      font-size: 21px;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include respond-to($md, $sm, $es){
        text-align: center;
      }
    }

    &--block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 510px;
      margin-bottom: 3px;
      @include respond-to($lg, $md, $sm, $es){
        width: 99%;
      }
      @include respond-to($es) {
        flex-direction: column;
        align-items: center;
        height: 80px;
      }
    }

    &--email {
      background: #ffffff;
      border: none;
      border-radius: 25px;
      color: #999999;
      font-family: Lato-Italic;
      font-size: 14px;
      height: 39px;
      padding: 0px 0px 3px 21px;
      width: 360px;
      @include respond-to($lg, $md, $sm, $es){
        margin-right: 10px;
      }
      @include respond-to($es) {
        padding: 0px 16px 3px;
        width: auto;
        box-sizing: content-box;
      }
    }

    &--submit {
      background: #000000;
      border: none;
      border-radius: 25px;
      color: #ffffff;
      font-family: $primaryFont;
      font-size: 15px;
      height: 39px;
      text-transform: uppercase;
      width: 120px;
      padding-top: 6px;
      @include respond-to($es) {
        margin-top: 10px;
      }
    }

    &--arrow {
      @include respond-to($es) {
        display: none;
      }
    }
  }
}